{% extends "base.html" %} 

{% block body %}
            {% with msg = get_flashed_messages() %}
                {% if msg %}
                    {{ msg[0] }}
                {% endif %}
            {% endwith %}
        <div>
            <h2 class="text-info">ALBUM</h2> 
            <p>Album: {{album.name}}</p>
            <p>Artist: {{album.artist}}</p>
            <p>Average Score: {{score}}/100</p>
        </div>
        <div>
            <h3 class="text-info">REVIEWS</h3>
            {% for review in album.reviews %}
            <p class = "border-bottom border-info">
                <td>
                    <a href="{{ url_for('show_review', id=review.id) }}" class="btn btn-dark">
                        Author: {{usernames[review.user_id]}}
                    </a>
                </td>
                <td>
                    <span class="border border-info bg-info text-white font-weight-bold">
                        {{ review.score }}/100
                    </span>
                </td>
                
            </p>
            {% endfor %}
        </div>
        
        

{% endblock %}
        