{% extends "base.html" %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}
<h2 class="text-info">Trending Albums</h2>
{% for album in albums %}
<p class = "border-bottom border-info">
    <td>
        <a href="{{ url_for('show_album_detail', id=album.id) }}" class="btn btn-dark">
            {{ album.artist }} - {{ album.name }}
        </a>
    </td>
    <td>
        <span class="border border-info bg-info text-white font-weight-bold">
            {{ scores[album.id] }}/100
        </span>
    </td>
    
</p>
{% endfor %}

{% endblock %}