{% extends "base.html" %}

{% block body %}
<h2 class="text-info">LOGIN</h2>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}
<form method="POST" action="/login">
    <div class="field">
        <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
        <input type="password" name="password" placeholder="Password"> 
    </div>
    <button type="submit" class="btn btn-info">Login</button> 
</form>

{% endblock %}