{% extends "base.html" %} 

{% block body %}
            {% with msg = get_flashed_messages() %}
                {% if msg %}
                    {{ msg[0] }}
                {% endif %}
            {% endwith %}
            <h2>REVIEW</h2> 
            <p>Album: {{album}}</p>
            <p>Artist: {{artist}}</p>
            <p>Score: {{score}}/100</p>
            <p>Review: {{review}}</p>
            <button
                type="button"
                data-review-id="{{id}}"
                data-toggle="modal"
                data-target="#deleteWarning"
                class="btn btn-danger"
                onclick="{setReviewId(this)}"
            >Delete</button>
        </div>
        
        <div
            class="modal fade"
            id="deleteWarning"
            role="dialog"
        >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteWarningLabel">Delete Review</h5>
                </div>
                <div class="modal-body">
                    Do you want to delete your review on {{album}} by {{artist}}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        No
                    </button>
                    <button type="button" class="btn btn-danger" onClick="deleteReview(reviewId)">
                        Yes
                    </button>
                </div>
            </div>
        </div>
        </div>
        {% endblock %}
        