{% extends "base.html" %} 

{% block body %}
            {% with msg = get_flashed_messages() %}
                {% if msg %}
                    {{ msg[0] }}
                {% endif %}
            {% endwith %}
            <h2 class="text-info">REVIEW</h2> 
            <p>Author: {{author}}</p>
            <p>Album: {{album}}</p>
            <p>Artist: {{artist}}</p>
            <p>Score: {{score}}/100</p>
            <p>Review: {{review}}</p>
            {% if current_user.id == author %}
            <button
                type="button"
                data-review-id="{{id}}"
                data-toggle="modal"
                data-target="#deleteWarning"
                class="btn btn-info"
                onclick="{setReviewId(this)}"
            >Delete</button>
            {% endif %}
        </div>
        
        <div
            class="modal fade"
            id="deleteWarning"
            role="dialog"
        >
        <div class="modal-dialog">
            
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title text-info" id="deleteWarningLabel">Delete Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to delete your review on {{album}} by {{artist}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            No
                        </button>
                        <button type="button" class="btn btn-info" onClick="deleteReview(reviewId)">
                            Yes
                        </button>
                </div>
            </div>
        </div>
        </div>
        {% endblock %}
        