{% extends "base.html" %}

{% block body %}
<h2 class="text-info">Search Results</h2>
{% for result in results %}
<p class = "border-bottom border-info">
    <td>
        <a href="{{ url_for('show_album_detail', id=result.id) }}" class="btn btn-dark">
            {{ result.artist }} - {{ result.name }}
        </a>
    </td>
    <td>
        <span class="border border-info bg-info text-white font-weight-bold">
            {{ scores[result.id] }}/100
        </span>
    </td>
    
</p>
{% endfor %}

{% endblock %}